/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;

}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  /* max-width: 1450px;
  max-height: 850px; */
  max-width: 1000px;
  max-height: 700px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
